<div class="jumbotron text-center bg-info text-white">
	<h2>MONGO SCRAPER</h2>
	<p>New York Times - World Headlines</p>
	<br>
	<a href="/scrape" class="btn btn-danger">Scrape New Data</a>
</div>

{{!-- <div class="container">
	<div class="row">
		<div class="col-8" id="articles"></div>
		<div class="col-4" id="comments"></div>
	</div>
</div> --}}

<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-8">
				{{#each articles}}
				<div class="card">
					<div class="card-header bg-light">
						<h5>{{this.title}}</h5>
					</div>
					<div class="card-body">
						<p class="card-text">{{this.summary}} | <a href="https:www.nytimes.com{{this.link}}">Full
								Article</a></p>
						<button type="button" class="btn btn-primary" id="add-comment" data-id="{{this._id}}">View / Add
							Comments</button>
					</div>
				</div>
				<br>
				{{/each}}
			</div>

			<div class="col-4" id="comments"></div>
		</div>
	</div>
</div>