<div class="jumbotron">
	<h3>Mongo Scraper</h3>
	<p>New York Times - World Headlines</p>
	<a href="/scrape" class="btn btn-danger">Scrape Articles</a>
</div>

<div class="container">
	<div id="articles">
		<div id="articles-card"></div>
	</div>
</div>

{{!-- <div id="articles"></div>
<div id="comment"></div> --}}


{{!-- <div class="wrapper">
	<div class="container">
		{{#each articles}}
			<div class="card">
				<div class="card-header"></div>
				<div class="card-body">
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Read Full Article</a>
				</div>
			</div>
		{{/each}}
	</div>
</div> --}}