<div class="jumbotron text-center">
	<h2>Mongo Scraper</h2>
	<p>New York Times - World Headlines</p>
	<a href="/scrape" class="btn btn-danger">Scrape Articles</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-7" id="articles"></div>
		<div class="col-5" id="comments"></div>
	</div>

</div>


{{!-- <div class="wrapper">
	<div class="container">
		{{#each articles}}
			<div class="card">
				<div class="card-header"></div>
				<div class="card-body">
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Read Full Article</a>
				</div>
			</div>
		{{/each}}
	</div>
</div> --}}